WTL/practical 3/college.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT college (teaching,non-teaching,student)>  
<!ELEMENT teaching (name,id,department)>
<!ELEMENT non-teaching (name,id)>  
<!ELEMENT student (name,id,department,year,section)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT department (#PCDATA)> 
<!ELEMENT year (#PCDATA)>
<!ELEMENT section (#PCDATA)>  
<!ATTLIST name type CDATA "Name">
<!ATTLIST name type CDATA #REQUIRED>
